{% extends 'base.html' %}

{% block start %}

{%load static%}


<div class="text-center wow fadeInUp">
    <h4 class="section-title ff-secondary text-center text-danger fw-normal">User Profile </h4>
    <div class="row my-3 p-5 pb-0 w-50 m-auto bg_clr text-white rounded-top-5">
        <div class="col-4 m-auto">
            <div class="rounded"><img class="w-75 rounded-circle" src="{% static 'img/profile.png'%}" alt=""></div>
            <div class="h4 fw-bolder mt-2 text-danger">{{request.user.username}}</div>
        </div>
        <div class="col-8 text-start">
            <div class="row  gy-3">
                <!-- First Name -->
                <div class="col-4 text-danger">First Name :</div>
                <div class="col-8">{{request.user.first_name}}</div>

                <!-- Last Name -->
                <div class="col-4 text-danger">Last Name :</div>
                <div class="col-8">{{request.user.last_name}}</div>

                <!-- Username -->
                <div class="col-4 text-danger">User Name :</div>
                <div class="col-8">{{request.user}}</div>

                <!-- email -->
                <div class="col-4 text-danger">Email Id :</div>
                <div class="col-8">{{request.user.email}}</div>

            </div>
        </div>
    </div>

    <div class="d-flex mt-3 justify-content-end">
        <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Change Name
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Change Password
        </button>
        
    </div>
    <br>


    <!-- change name modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-floating">
                            <input type="text" name="first_name" value="{{request.user.first_name}}" class="form-control" id="name" placeholder="First name">
                            <label>First Name</label>
                        </div><br>
                        <div class="form-floating">
                            <input type="text" name="last_name" value="{{request.user.last_name}}" class="form-control" id="name" placeholder="First name">
                            <label>First Name</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- change password modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-floating">
                            <input type="text" name="current_pass" class="form-control" id="name" placeholder="First name">
                            <label>Current Password</label>
                        </div><br>
                        <div class="form-floating">
                            <input type="text" name="new_pass" class="form-control" id="name" placeholder="First name">
                            <label>New Password</label>
                        </div><br>
                        <div class="form-floating">
                            <input type="text" name="cpass" class="form-control" id="name" placeholder="First name">
                            <label>Confirm Password</label>
                        </div>
                        <div class="text-end">
                            <a href="/forget-password-user">Forget password?</a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <h4 class="section-title ff-secondary text-center text-danger fw-normal">Bookings </h4>
    <div class=" fw-bold h2">Upcoming Bookings</div>

    <div class="row container m-auto gx-5 gy-4">
        <div class="col-4">
            <div class="shadow-lg  rounded-4 row p-3 ">
                <div><img class="w-75 rounded-4 mb-3" src="{% static 'img/table.png' %}" alt=""></div>
                <div class="col-6 fw-bold text-danger text-end">Name:</div>
                <div class="col-6 ps-3 text-start">Deepanshu</div>
                <div class="col-6 fw-bold text-danger text-end">No of Person:</div>
                <div class="col-6 ps-3 text-start">6-person</div>
                <div class="col-6 fw-bold text-danger text-end">Mobile Number:</div>
                <div class="col-6 ps-3 text-start">+12 3456 7890</div>
                <div class="col-6 fw-bold text-danger text-end">Email Id:</div>
                <div class="col-6 ps-3 text-start">abc123@xyz.com</div>
                <div class="col-6 fw-bold text-danger text-end">Date:</div>
                <div class="col-6 ps-3 text-start">15-02-2023</div>
                <div class="col-6 fw-bold text-danger text-end">Time:</div>
                <div class="col-6 ps-3 text-start">19:00</div>
                <div class="col-6 fw-bold text-danger text-end">Special request:</div>
                <div class="col-6 ps-3 text-start mb-2">None</div>
                <div class="col-6 text-end"><a class=" btn btn-danger" href="/edit_booking/">Update</a></div>
                <div class="col-6 text-start"><a class=" btn bg_clr text-light" href="">Delete</a></div>
            </div>
        </div>

       
 -->


</div>


{% endblock %}