{% extends 'base.html' %}

{% block start %}

{%load static%}




<!-- Navbar & Hero End -->


<!-- Checkout Start -->


<div class="container py-5" data-wow-delay="0.1s">
    <div class="row">

        <div class="col-md-6">
            <form class="shadow-sm p-3 mb-5 bg-body-tertiary form-wrapper" id="form">
                {% csrf_token %}
                <div class="row g-3" id="user-info">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                            <label for="name">Your Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                            <label for="name">Your Email</label>
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="row g-3">
                    {% if option == 'delivery' %}
                    <span class="mt-0 fs-5">Delivery Information</span>
                    <!-- <hr> -->
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" placeholder="Address">
                            <label for="name">Address</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="city" placeholder="City">
                            <label for="name">City</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="state" placeholder="State">
                            <label for="name">State</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="pincode" placeholder="Pincode">
                            <label for="name">Pincode</label>
                        </div>
                    </div>

                    {% elif option == 'dinning'%}
                    <span class="mt-0 fs-5">Dinnning Information</span>
                    <!-- <hr> -->
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="people" placeholder="No Of People">
                            <label for="name">No Of People</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="phone" placeholder="Phone Number">
                            <label for="name">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="date" placeholder="Date">
                            <label for="name">Date</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="time" class="form-control" id="time" placeholder="Time">
                            <label for="name">Time</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Special Request" id="special_req"
                                style="height: 100px"></textarea>
                            <label for="message">Special Request</label>
                        </div>
                    </div>

                    {% endif %}

                    <div class="col-12">
                        <button class="btn btn-danger w-100 py-3" id="form-button" type="submit">Continue</button>
                    </div>
                </div>
            </form>
            
            <div class="shadow-sm p-3 mb-5 bg-body-tertiary" id="payment-info">
                <h4>Payment options</h4>
                <hr>
                <button id="rzp-button1">Pay with Razorpay</button>
                <!-- <div class="btn btn-danger" id="make-payment">Make payment</div> -->
            </div>

        </div>
        <div class="col-md-6">

            <div class="shadow-sm p-3 mb-5 bg-body-tertiary">

                <a href="/cart/" class="btn btn-light text-danger border-danger">← Back to cart</a>

                <div class=" bg-danger h5 text-start text-white mt-2 p-2">Order Summary</div>

                {% for item in items %}
                <div class="row mb-2">
                    <div class="col-5 ">
                        <div class="d-flex">
                            <img class="flex-shrink-0 img-fluid rounded" src=" /static/{{item.item.item_image}}"
                                alt="menu_item_image" style="width: 70px; max-height: 45px;">
                            <div class="mx-2">
                                <div class="fs-6">{{item.item.item_name}}</div>
                                <span data-item="{{item.item_id}}" data-action="remove"
                                    class="text-danger fs-6 update-cart hand-cursor">Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text-end">₹ {{item.item.item_price}}</div>
                    <div class="col-1 text-end">{{item.quantity}}</div>
                    <div class="col-3 text-end">₹ {{item.get_total}} </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-7">Total items {{order.get_cart_items}}</div>
                    <div class="col 2 text-start h4">Total</div>
                    <div class="col 2 text-end h5">₹ {{order.get_cart_total}}</div>
                </div>
            </div>

        </div>



    </div>


</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "rzp_test_4XWHh1u1TNMehB", // Enter the Key ID generated from the Dashboard
        "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Restoran",
        "description": "Purchase",
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            submitFormData(response)

        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

<script>

    $('#payment-info').hide();


    var total = '{{order.get_cart_total}}';

    var form = $('#form');

    csrftoken = $('input[name=csrfmiddlewaretoken]').val();

    var option = '{{option}}';

    if (user != 'AnonymousUser') {
        console.log('anno')
        $('#user-info').hide();
    }

    if (option == 'take-away' && user != 'AnonymousUser') {
        $('.form-wrapper').hide();
        $('#payment-info').show();
    }


    form.submit(function (e) {
        e.preventDefault();
        console.log('form submitted...');
        $('#form-button').hide();
        $('#payment-info').show();

    })

    // $('#make-payment').click(function (e) {
    //     submitFormData()

    // })

    function submitFormData(response) {
        console.log('payment button clicked')

        var payment_info = {
            'razorpay_order_id': response.razorpay_order_id,
            'razorpay_payment_id': response.razorpay_payment_id,
            'razorpay_signature': response.razorpay_signature
        }

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var deliveryInfo = {
            'address': null,
            'city': null,
            'state': null,
            'pincode': null,
        }

        var dinningInfo = {
            'phone': null,
            'people': null,
            'date': null,
            'time': null,
            'special_req': null,
        }

        if (option == 'delivery') {
            deliveryInfo.address = $('#address').val();
            deliveryInfo.city = $('#city').val();
            deliveryInfo.state = $('#state').val();
            deliveryInfo.pincode = $('#pincode').val();
        }

        if (option == 'dinning') {
            dinningInfo.phone = $('#phone').val();
            dinningInfo.people = $('#people').val();
            dinningInfo.date = $('#date').val();
            dinningInfo.time = $('#time').val();
            dinningInfo.special_req = $('#special_req').val();
        }

        if (user == 'AnonymousUser') {
            userFormData.name = $('#name').val();;
            userFormData.email = $('#email').val();
        }

        $.ajax({
            type: 'POST',
            url: 'success/',
            headers: {
                'X-CSRFToken': csrftoken,
            },
            data: JSON.stringify({
                'payment_info':payment_info,
                'form': userFormData,
                'delivery': deliveryInfo,
                'dinning': dinningInfo,
                'option': option
            }),
            success: function (data) {
                // data = JSON.parse(data)
                console.log('success: ' + data);
                alert('Transaction completed successfully')
                window.location.href = "{% url 'home' %}"
            }

        })
    }

</script>



{% endblock %}